h1,
p,
b {
  text-align: left;
}
h1 {
  font-size: 32px;
}
img {
  display: flex;
  margin: 0 auto;
  width: 610px;
}

.article__img2 {

  max-width: 610px;
  height: auto;
  margin-bottom: 5px;
  margin-top: 20px;
}

p {
  margin: 0;
  padding: 8px 0px;
}
h2 {
  font-family: Arial, sans-serif;
  font-size: 21px;
  line-height: 24px;
  font-weight: normal;
}

.article {
  width: 610px;
}
p {
  font-size: 15px;
  padding: 8px 0px;
  color: rgb(26, 26, 26);
}
b {
  margin-top: 10px;
}
.article__description {
  font-size: 12px;
  line-height: 15px;
  color: #666;

  margin: 0 auto;
  margin-top: 5px;
}
.article__list-header {
  font-weight: bold;
  margin-bottom: 20px;
}
li {
  text-align: left;
  font-weight: normal;
  padding: 1px 20px;
  margin: 0;
}
ol {
  text-align: center;
  font-weight: bold;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
}
ol {
  list-style-type: none;
}
li {
  margin-left: -40px;
}
a {
  color: #c60304;
  font-size: 15px;
  cursor: pointer;
}

.article__item2 {
  text-align: center;
  margin: 0 auto;
}
button {
  cursor: pointer;
}
ol b {
  margin-bottom: 20px;
}
.article__icon1{
  float: left;

  margin-right: 40px;
  position: relative;


  width: 22px;
  height: 22px;
  background: url(../../images/icon-sprite.png) no-repeat 5px -478px;

}
post-item__statistic {
  float: right;
  font-size: 11px;
  color: #666;
  display: flex;
  font-family: 'Sans-Condense_Bold';
  line-height: 15px;
}
.post-item__statistic{
  display: flex;
  color: #666;
  font-family: 'Sans-Condense_Bold';
  line-height: 15px;
}
.article__line{
  display: flex;
  justify-content: space-between;
}
.post-item__views{
  display: flex;
  color: #666;
  font-family: 'Sans-Condense_Bold';
  line-height: 15px;
}
.icon-comment {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 14px;
  margin-right: 3px;
  
  background: url(../../images/icon-sprite.png) no-repeat -143px 1px;
}
.post-item__statistic{
  margin-top:15px;
}
.icon-views {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 14px;
  margin-left: 10px;
  margin-right: 3px;
  background: url(../../images/icon-sprite.png) no-repeat -142px -19px;
}
.article__icon2{
  float: left;
  width: 22px;
  height: 22px;
  margin-right: 40px;
  position: relative;
  background-color: #666;
  background-image: url(../../images/icon-sprite.png);
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: -61px -477px;

}
.social__item-follows:after {
  content: '';
  position: absolute;
  top: 8px;
  left: -5px;
  border-style: solid;
  border-color: transparent #e2e2e2 transparent transparent;
  border-width: 4px 5px 4px 0;
}
.social__item-follows {
  height: 22px;
  padding: 0 6px;
  position: absolute;
  top: 0;
  left: 28px;
  background-color: #e2e2e2;
  color: #666;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  font-family: "Sans-Condense_Bold",Arial,sans-serif;
  cursor: default;
}
.article__button {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
 width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  border: 1px solid #c60304;
  color: #c60304;
  height: 40px;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}

p {
  display: flex;
}
.article__link {
  margin-top: 15px;
}
.article__line {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.article__list-header {
  text-align: left;
}
.article__span {
  font-weight: normal;
}
strong {
  font-weight: bold;
}
span {
  font-weight: bold;
}
.article__line {
  display: flex;
}
.article__span {
  font-size: 12px;
  line-height: 17px;
  color: #666;
}
.article__icon1 {
  width: 55px;
  height: 30px;
  margin-top:10px;
  background-color: #666;
  background: url(../../images/face.png) no-repeat 100%;
}
.article__icon2{
  margin-left:-70px;
}
.article__icon2 {
  width: 55px;
  height: 20px;
  margin-top:15px;
  background: url(../../images/twitt.png) no-repeat 100%;
}

.article__icon3 {
  width: 22px;
  height: 22px;
  background: url(../../images/icon-sprite.png) no-repeat -143px 1px;
}
.article__icon4 {
  width: 22px;
  height: 22px;
  background: url(../../images/icon-sprite.png) no-repeat -142px -19px;
}
.article__text {
  text-transform: uppercase;
  color: #666;
  font-size: 11px;
}

.article__text2 {
  font-size: 11px;
  color: #888;

  font-weight: normal;
}
.article__span1 {
  font-size: 11px;
  color: #666;
}
.article {
  margin-bottom: 30px;
}
.article__icons {
  display: flex;
}
li{
  padding-left:0px;
}
.article__description{
  margin-bottom:20px;
}
.main{
  display:flex;
}
.aside{
  display:flex;
  flex-direction: column;
  width: 300px;
  margin-left:50px;
  margin-top:10px;
  font-size:14px;
  
}
.aside__header{
  color: #c60304;
  text-transform: uppercase;
  font-weight: 500;
  margin-top:20px;
  
  
  &:hover{
    text-decoration: underline;
  }

}
.aside__line{
  background-color:  #c60304;
  height: 3px;
  width: 300px;
  margin-top:5px;
}
.aside__links{
  display:flex;
  justify-content: space-between;
}
.aside__link{
  font-size:11px;
  color: #666;
  text-transform: uppercase;
  padding:5px 0px;
  &:hover{
    color:red;
    text-decoration: underline;
  }
}
.aside__link_hover{
  color:#c60304;
}
.aside__line-grey{
  border-top: #d9d9d9 1px solid;
  margin-top:5px;
}
.aside__row{
  display:flex;
  margin-top:20px;
}
.aside__img{
  
  margin: 3px 10px 0 0;
  width: 160px;
  height: 90px;
}
.aside__img2{
  width: 110px;
  height: 43px;
  margin: 1px 9px 0 0;
}
.aside__column-text{
  color: #666;
  font-weight: bold;

  font-size: 13px !important;
}
.aside__column-text span{
  display:flex;
}
.aside__column-icon{
  width: 14px;
    height: 10px;
    margin-top:5px;
    margin-right: 1px;
    background: url(../images/icon-sprite.png) no-repeat -64px -352px;
}
.article__comments_count {
  font-size: 10px;
  display: inline-block;
  color: #666;
  font-weight: normal;
}
.aside__column{
  display:inline-block;
  margin-left:10px;
}
.aside__column::before{
  content: '';
  width: 14px;
  height: 10px;
  background: url(../images/icon-sprite.png) no-repeat -64px -352px;
}
a:hover{
  text-decoration: underline !important;
}
.aside__link-text{
  font-size:13px;
  color: #666;
  margin-top:5px;
  line-height: 15px;
}
.aside__line-grey:last-child{
  margin-top:20px;
}
.aside__line-grey2{
  border-top: #d9d9d9 1px solid;
  margin-top:5px;
  margin-bottom: -10px;
}
.main{
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
}
.article__h1{
  font-weight:bold;
}
.article__link_hover{
  color:rgb(198, 3, 4) !important;
}
