.article
    h1 Россия стала мировым лидером в аграрной индустрии, вытеснив Китай. Как каждый россиянин может заработать на стремительном росте промышленности со своего смартфона?
    span.article__span Корреспондент.net, 12 Марта 2020
    
    .article__line
        a.article__icon1
               
        a.article__icon2
                
        a.article__link ЧИТАТЬ НОВОСТЬ НА УКРАИНСКОМ
        .post-item__statistic
                .post-item__comments
                        i.icon-comment
                        span 14
                .post-item__views
                        i.icon-views
                        span 1044
    img(src="images/img1.jpg" alt="photo")
    h2 Как Россия вытеснила Китай на мировом рынке
    p Сейчас Китай, как бывший мировой лидер в аграрной промышленности, переживает непростые времена. Из-за эпидемии коронавируса люди со всех стран мира отказываются покупать китайские товары, боясь заразиться вирусом. Ситуация настолько сложная, что на данный момент Китай не может покрыть даже внутренние вопросы в пищевой и сельскохозяйственной промышленности. 
    p Сложившаяся ситуация оказалась благоприятной для экономики России. Теперь РФ не только заняла часть внутреннего рынка Китая, но и вытеснила его на мировой арене в сфере аграрной промышленности. Данная ситуация позволяет простым россиянам получать пассивный доход от государства. 
    p Как именно? Наши журналисты подробно изучили этот вопрос…
    h2 Почему аграрная промышленность России стала “лакомым кусочком” для инвестиций
    p Из-за повышенного спроса мирового рынка на российские товары, ожидается масштабное инвестирование в пищевую и сельскохозяйственную промышленность РФ и обучение нового персонала. Все это укрепляет позиции акций сельхоз сегмента РФ и экономики РФ в целом.
    p По причине ускоренного масштабирования производства российских товаров с января 2020 года запущен проект “АграрКапитал” и строительство 76 заводов для расширения аграрной промышленности РФ
    h2 Что такое “АграрКапитал”?
    p  “АграрКапитал” - это специальная онлайн-платформа для торговли акциями российских промышленных заводов. Пользователи программы получают возможность приобрести желаемое количество акций и запустить автоматическую торговлю на мировом рынке. По причине того, что мировые крупные инвесторы уже видят выгоду в российской аграрной промышленности, цены на акции растут с большой скоростью, несмотря на то, что строительство большинства заводов только началось.
    h2 Как россияне начали зарабатывать через “АграрКапитал”
    p Сейчас проект “АграрКапитал” открыт для инвестиций всех россиян. Таким образом, акции аграрной промышленности доступны для торгов жителей России. Но в виду того, что как только заводы будут построены, акции захотят выкупить монополисты, цены на акции вырастут в 4-5 раз. Поэтому данное мероприятие гарантированно дает возможность россиянам умножить имеющийся капитал.
    img.article__img2(src="images/img2.png" alt="photo")
    .article__description Ольга Вакарева, учительница математики, инвестор в проект “АграрКапитал”
    p Курс на акции проекта “АграрКапитал” уже начал расти, начиная со 2 февраля, и россияне уже зарабатывают на этом. Однако, акции еще можно приобрести по цене, доступной россиянину со среднестатической зарплатой. 
    h2 Преимущества многообещающего проекта “АграрКапитал”
    ol.article__item
        
        li  
                span       Доступен каждому.
                |       Стать инвестором государственной аграрной промышленности может любой гражданин России. Для этого нужно всего лишь пройти простую регистрацию. Сумма инвестиции может быть небольшой и даже равна сумме обыкновенной микроволновки.
        li 
                span       Простота. 
                |       Участники проекта “АграрКапитал” разработали удобное приложение для торгов аграрными акциями, интуитивно понятное каждому — не имея знаний в области экономики и торговли акциями, человек  сможете обучиться менее чем за 10 минут и 
                a       начать зарабатывать.
        li 
                span       Удобство. 
                a       Алгоритм все сделает 
                |       за человека — программе не нужно помогать или делать какие-то специальные действия. 
        li 
                span       Отсутствие рисков. 
                |       94% сделок закрываются в пользу владельца акциями “АграрКапитал” из-за нынешней экономической ситуации и заинтересованности иностранных инвесторов скупать российские аграрные акции.
        li 
                span       Надежность. 
                |       Платформа “АграрКапитал” является государственной и работает при поддержке правительства, поэтому ни один участник не рискует ничем.
    h2 Как присоединиться к проекту “АграрКапитал”
    ol.article__item 
        li
                a  Перейдите по этой ссылке 
                |   на официальный сайт платформы “АграрКапитал”.
        li
            
                |   Зарегистрируйтесь 
                a   на сайте, 
                |   внимательно и правильно заполнив все поля формы.
        li
            
                | Дождитесь звонка от менеджера платформы на ваш мобильный номер телефона и подтвердите 
                a регистрацию.
        li
            
                |   Выберите желаемую сумму и получите первую выплату уже к вечеру этого дня.
    button.article__button Подать заявку
    .article__teg
        span.article__text ТЕГИ: 
        a.article__text.article__link РОССИЯ
    .article__teg2 -
    span.article__text2 Если вы заметили ошибку, выделите необходимый текст и нажмите Ctrl+Enter, чтобы сообщить об этом редакции.
.aside
        .aside__header Новости России >>
        .aside__line 
        .aside__links
                .aside__link.aside__link_hover Последние
                a.aside__link Популярные
                a.aside__link Комментируемые
        .aside__line-grey
        .aside__row
                img(src="images/new.jpg").aside__img
                a.aside__column-text Путин заверил, что РФ не намерена ни с кем воевать
                        .aside__column
                                .aside__column-icon
                                .aside__column-num 963
        a.aside__link-text В Москве отреагировали на слова Пристайко о 9 мая 
                .aside__column
                                .aside__column-icon
                                .aside__column-num 581
        a.aside__link-text В России заявили о задержании четырех "украинских наркоторговцев"
        a.aside__link-text Лавров не подтвердил встречу глав МИД перед нормандским саммитом
        a.aside__link-text Сурков назвал причину ухода из Кремля 
                .aside__column
                                .aside__column-icon
                                .aside__column-num 182
        .aside__line-grey
        .aside__header СЮЖЕТЫ >>
        .aside__line 
        .aside__row
                img(src="images/new1.jpg").aside__img2
                a.aside__link-text Итоги 02.03: Европа под вирусом и брешь в Греции 289
                        .aside__column
                                .aside__column-icon
                                .aside__column-num 289
        .aside__line-grey2
        .aside__row
                img(src="images/new2.jpg").aside__img2
                a.aside__link-text Мир с Талибаном. Армия США уходит из Афганистана
                        .aside__column
                                .aside__column-icon
                                .aside__column-num 203
        .aside__line-grey2
        .aside__row
                img(src="images/new3.jpg").aside__img2
                a.aside__link-text Украина без зимы. Что меняет глобальное потепление
        .aside__line-grey2
        .aside__row
                img(src="images/new4.jpg").aside__img2
                a.aside__link-text Поездки в РФ, пенсии, траты. Что изменится с марта
        .aside__line-grey2
        .aside__row
                img(src="images/new5.jpg").aside__img2
                a.aside__link-text  Итоги 01.03: Операция Турции и гибель на Донбассе
                        .aside__column
                                .aside__column-icon
                                .aside__column-num 360


