
.comment
    .comment__header Комментарии
    .comment-item
        img.comment__img(src="images/comment1.jpg")
        .comment__info
            .comment__name Андрей Сушков — 1 день назад
            .comment__description Да, как экономист подтверждаю, сейчас по всему миру ажиотаж вокруг промышленности россии. как бы американцы не пытались этому помешать, российские акции теперь разлетаются как горячие пирожки за большие деньги крупным “дядям”. Ловите шанс купить их за копейки, пока это возможно.
    .comment-item1
        img.comment__img(src="images/comment2.jpg")
        .comment__info
            .comment__name Виктор Стеценко — 1 день назад                              
            .comment__description Андрей Сушков, слушай, а США как-то этому помешать пытается? Я что-то такое слышал.                                                                                                                                                                                                                             
    .comment-item1
        img.comment__img(src="images/comment1.jpg")
        .comment__info
            .comment__name Андрей Сушково — 1 день назад
            .comment__description Виктор Стеценко, конечно. Недавно созывали экстренное совещание аппарата Трампа для противодействия занятия России лидирующего места в сельхоз экономике мира. НО. Поскольку экономика США сейчас озадачена нестабильностью аппарата президента, которого сейчас собираются отправить в имичмент, никаких эффективных действий со стороны США можно не ожидать. Все хорошо)
    .comment-item
        img.comment__img(src="images/comment3.jpg")
        .comment__info
            .comment__name Валентина Рыбка — 10 часов назад
            .comment__description Зарегистрировалась в приложении, закинула на счет 310 долларов (хотя можно и меньше было). Доход уже пошел, собираюсь на заработанные деньги в эти выходные на шоппинг)
    .comment-item
        img.comment__img(src="images/comment4.jpg")
        .comment__info
            .comment__name Станислав Маковецкий — 10 часов назад
            .comment__description Приятно удивлен) Я сейчас не в России живу, но родное государство радует, развивается. А по поводу Китая - заказывал недавно посылку с Али Экспресс, там сейчас полный хаос, доставку временно отменили.
    .comment-item
        img.comment__img(src="images/comment5.jpg")
        .comment__info
            .comment__name Ирина Гордеева — 9 часов назад
            .comment__description Зарегистрировались с мужем на платформе, на которую в данной статье ведет ссылка. Спасибо большое, уже получили и обналичили первую прибыль! Аж не верится :)
    .comment-item
        img.comment__img(src="images/comment6.jpg")
        .comment__info
            .comment__name Полина Сумкова — 7 часов назад
            .comment__description Видела по новостям об этом, но не могла найти, как же зарегистрироваться в этот проект. Благодарю за ссылку)Спасибо большое, уже получили и обналичили первую прибыль! Аж не верится :)
    .comment-item
        img.comment__img(src="images/comment7.jpg")
        .comment__info
            .comment__name Кирилл Емельянов — 7 часов назад
            .comment__description Мы с женой успели купить за дешево эти акции. Цены растут действительно быстро, а приложение автоматически ими по выгодным условиям торгует. Мы уже заработали около 600 долларов! Собираемся в Испанию ехать отдыхать
    .comment-item
        img.comment__img(src="images/comment8.jpg")
        .comment__info
            .comment__name Петр Самсонов — 6 часов назад
            .comment__description Я 2 дня назад подключился. +220 долларов уже.                                                                                                                                                                                                                                                                                    
    .comment-item1
        img.comment__img(src="images/comment9.jpg")
        .comment__info
            .comment__name Анна Кириянова — 6 часов назад
            .comment__description Петр Самсонов, я вас умоляю. Это же копейки, стоило ли ради этого инвестировать.
    .comment-item1
        img.comment__img(src="images/comment8.jpg")
        .comment__info
            .comment__name Петр Самсонов — 5 часов назад
            .comment__description Анна Кириянова, для кого копейки - а для кого ползарплаты. Мне чтобы столько заработать, нужно полмесяца на заводе пахать! 
    .comment-item
        img.comment__img(src="images/comment10.jpg")
        .comment__info
            .comment__name Леонид Орлов — 4 часов назад
            .comment__description Видел по телевизору про эту учительницу, чью фотку в статье разместили. она теперь дачу себе покупает
    .comment-item
        img.comment__img(src="images/comment11.png")
        .comment__info
            .comment__name Михаил Щербаков — 3 часов назад
            .comment__description Знаете, это как с биткоином было. Он когда только появился и за копейки продавался, я собирался его купить, но не решился. Как же я потом жалел! С этой платформой уж точно не упущу свое счастье!
    .comment-item
        img.comment__img(src="images/comment12.png")
        .comment__info
            .comment__name Антон Лосев — 2 часов назад
            .comment__description Что ж, я зарегистрировался на этот АграрКапитал, жду звонка от оператора…


