
.comment
    .comment__header Комментарии — 14
    .comment__input
        a Войдите,
        span чтобы оставить комментарий.
    .comment-item
        img.comment__img(src="images/comment1.jpg" alt="comment")
        .comment__info
            .comment__name Андрей Сушков — 19.02.2020, 11:11
            .comment__description Да, как экономист подтверждаю, сейчас по всему миру ажиотаж вокруг промышленности россии. как бы американцы не пытались этому помешать, российские акции теперь разлетаются как горячие пирожки за большие деньги крупным “дядям”. Ловите шанс купить их за копейки, пока это возможно.
    .comment-item1
        img.comment__img(src="images/comment2.jpg" alt="comment")
        .comment__info
            .comment__name Виктор Стеценко — 20.02.2020, 17:07                             
            .comment__description Андрей Сушков, слушай, а США как-то этому помешать пытается? Я что-то такое слышал.                                                                                                                                                                                                                             
    .comment-item1
        img.comment__img(src="images/comment1.jpg" alt="comment")
        .comment__info
            .comment__name Андрей Сушково — 17.02.2020, 17:23
            .comment__description Виктор Стеценко, конечно. Недавно созывали экстренное совещание аппарата Трампа для противодействия занятия России лидирующего места в сельхоз экономике мира. НО. Поскольку экономика США сейчас озадачена нестабильностью аппарата президента, которого сейчас собираются отправить в имичмент, никаких эффективных действий со стороны США можно не ожидать. Все хорошо)
    .comment-item
        img.comment__img(src="images/comment3.jpg" alt="comment")
        .comment__info
            .comment__name Валентина Рыбка — 20.02.2020, 17:08
            .comment__description Зарегистрировалась в приложении, закинула на счет 310 долларов (хотя можно и меньше было). Доход уже пошел, собираюсь на заработанные деньги в эти выходные на шоппинг)
    .comment-item
        img.comment__img(src="images/comment4.jpg" alt="comment")
        .comment__info
            .comment__name Станислав Маковецкий — 17.02.2020, 16:52
            .comment__description Приятно удивлен) Я сейчас не в России живу, но родное государство радует, развивается. А по поводу Китая - заказывал недавно посылку с Али Экспресс, там сейчас полный хаос, доставку временно отменили.
    .comment-item
        img.comment__img(src="images/comment5.jpg" alt="comment")
        .comment__info
            .comment__name Ирина Гордеева —  17.02.2020, 16:57
            .comment__description Зарегистрировались с мужем на платформе, на которую в данной статье ведет ссылка. Спасибо большое, уже получили и обналичили первую прибыль! Аж не верится :)
    .comment-item
        img.comment__img(src="images/comment6.jpg" alt="comment")
        .comment__info
            .comment__name Полина Сумкова — 17.02.2020, 16:20
            .comment__description Видела по новостям об этом, но не могла найти, как же зарегистрироваться в этот проект. Благодарю за ссылку)Спасибо большое, уже получили и обналичили первую прибыль! Аж не верится :)
    .comment-item
        img.comment__img(src="images/comment7.jpg" alt="comment")
        .comment__info
            .comment__name Кирилл Емельянов —  17.02.2020, 16:21
            .comment__description Мы с женой успели купить за дешево эти акции. Цены растут действительно быстро, а приложение автоматически ими по выгодным условиям торгует. Мы уже заработали около 600 долларов! Собираемся в Испанию ехать отдыхать
    .comment-item
        img.comment__img(src="images/comment8.jpg" alt="comment")
        .comment__info
            .comment__name Петр Самсонов —  17.02.2020, 16:24
            .comment__description Я 2 дня назад подключился. +220 долларов уже.                                                                                                                                                                                                                                                                                    
    .comment-item1
        img.comment__img(src="images/comment9.jpg" alt="comment")
        .comment__info
            .comment__name Анна Кириянова — 17.02.2020, 16:25
            .comment__description Петр Самсонов, я вас умоляю. Это же копейки, стоило ли ради этого инвестировать.
    .comment-item1
        img.comment__img(src="images/comment8.jpg" alt="comment")
        .comment__info
            .comment__name Петр Самсонов — 17.02.2020, 16:27
            .comment__description Анна Кириянова, для кого копейки - а для кого ползарплаты. Мне чтобы столько заработать, нужно полмесяца на заводе пахать! 
    .comment-item
        img.comment__img(src="images/comment10.jpg" alt="comment")
        .comment__info
            .comment__name Леонид Орлов — 17.02.2020, 16:31
            .comment__description Видел по телевизору про эту учительницу, чью фотку в статье разместили. она теперь дачу себе покупает
    .comment-item
        img.comment__img(src="images/comment11.png" alt="comment")
        .comment__info
            .comment__name Михаил Щербаков — 17.02.2020, 16:32
            .comment__description Знаете, это как с биткоином было. Он когда только появился и за копейки продавался, я собирался его купить, но не решился. Как же я потом жалел! С этой платформой уж точно не упущу свое счастье!
    .comment-item
        img.comment__img(src="images/comment12.png" alt="comment")
        .comment__info
            .comment__name Антон Лосев — 17.02.2020, 16:34
            .comment__description Что ж, я зарегистрировался на этот АграрКапитал, жду звонка от оператора…
    .comment__decription Оставляя комментарий, пожалуйста, помните о том, что содержание и тон Вашего сообщения могут задеть чувства реальных людей, непосредственно или косвенно имеющих отношение к данной новости. Проявляйте также уважение и толерантность к своим собеседникам даже в том случае, если Вы не разделяете их мнение. Ваше поведение в условиях свободы высказываний и анонимности, предоставляемых интернетом, меняет не только виртуальный, но и реальный мир.
    a.comment__link Полная версия правил
    .comment__decription Пользователи, которые нарушают эти правила грубо или систематически, будут заблокированы.
