.wrapper-header-item1{
  background-color: rgb(243, 241, 241);
}
.wrapper-header-item2{
  background-color: rgb(198, 3, 4);
}
.wrapper-header-item3{
  background-color: rgb(243, 241, 241);
}
.wrapper-header-item4{
  background-color: white;
}
.header {
  background-color: white;
  &-item1 {
    display: flex;
    background-color: rgb(243, 241, 241);
    justify-content: space-between;
    width: 100%;
    max-width: 968px;
    margin: 0 auto;
  }
  &__languages {
    display: flex;
  }
  &-item1__links {
    margin-top: 5px;
  }
  &-item2__icon {
    width: 36px;
    height: 28px;
  }
  &__language {
    padding: 5px 15px 5px 0;
    color: #666;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;

    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }

  &__language_active {
    color: #c60304;
  }
  &-item2 {
    background-color: rgb(198, 3, 4);
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    max-width: 968px;
    margin: 0 auto;
  }
  &__line {
    height: 30px;
    width: 1px;
    background-color: #a40000;
    border-right: #e01718 1px solid;
  }
  &-item2__city {
    color: #fff;
    background-color: transparent;
    padding: 0 0 0 4px;
    font-size: 11px;
    height: 30px;
    width: 1px;
    padding-left: 15px;
    border-right: #e01718 1px solid;
  }
  &__icon-search {
    width: 30px;
    height: 30px;
    background: url(../../images/icon-sprite.png) no-repeat 7px -44px;
  }
  &__dropdowns {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 27px;
    font-size: 11px;
  }
  &__bill,
  &__text,
  &__value {
    color: white;
    font-size: 11px;
    padding-left: 10px;
  }
  &__nav {
    display: flex;
  }
  &__menu-search {
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
  }
  &__icon {
    margin-top: -8px;
    margin-left: 5px;
  }
  &__city {
    color: white;
    font-size: 11px;
  }
  &__menu-author {
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
  }
  &__icon-author {
    width: 30px;
    height: 30px;
    background: url(../../images/icon-sprite.png) no-repeat 6px -15px;
  }
  &-item2__logo {
    width: 282px;
    height: 31px;
    margin-top: 20px;
  }
  &__line {
    display: inline-block;
    height: 30px;
    width: 1px;
    background-color: #a40000;
    border-right: #e01718 1px solid;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 19px;
    content: "";
  }

  &-item1__link {
    padding: 5px 15px 5px 0;
    color: #666;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
  }
  &__icon {
    width: 36px;
    height: 28px;
  }
  &__menu-search {
    margin-top: 25px;
    margin-right: 10px;
  }
  &__icon-search {
    margin-top: 18px;
    padding-left: 5px;
    cursor: pointer;
  }
  &__menu-author {
    margin-top: 25px;
    margin-right: 10px;
  }
  &__icon-author {
    margin-top: 18px;
    cursor: pointer;
  }
  &-item3 {
    display: flex;
    justify-content: space-around;

    background-color: rgb(243, 241, 241);
    width: 100%;
    max-width: 968px;
    margin: 0 auto;

    &__link {
      border: 1px solid rgb(218, 216, 216);
      font-size: 10px;

      line-height: 35px;
      text-transform: uppercase;
      color: #666;
      padding: 0 2px 0 2px;
      width: calc(100%/10);
      white-space: nowrap;
      text-align: center;
      cursor: pointer;
      &_hover {
        background-color: #fff;
      }
    }
  }
  &-item4 {
  
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
    max-width: 968px;
    margin: 0 auto;
    &__text {
      font-size: 11px;
      line-height: 28px;
      text-transform: uppercase;
      color: #666;
      margin-right: 15px;
    }
    &__text_hover {
      color: #c60304;
    }
  }
  &-item5 {
    margin: 10px 8%;
    background-color: white;
    padding-bottom: 10px;
    justify-content: space-between;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.4);
    display: flex;
    width: 100%;
    max-width: 968px;
    margin: 0 auto;
    &__icon {
      width: 14px;
      height: 10px;
      margin-left: 5px;
      margin-top: 5px;
      background: url(../../images/icon-sprite.png) no-repeat 1px -210px;
    }
    &__text {
      font-size: 14px;
      text-transform: uppercase;
      color: #666;
      font-weight: normal;
      &_hover {
        color: #c60304;
      }
    }
    &__text2 {
      font-size: 11px;
      text-transform: uppercase;
      color: #666;
      margin-left: 10px;
      margin-top: 3px;
    }
    &__links1 {
      display: flex;
    }
  }
}
.header-item3__link {
  width: (100%/10);
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
}
.header-item2__line {
  height: 30px;
  width: 1px;
  border-right: #e01718 1px solid;
  background-color: #a40000;
  margin-top: 20px;
  margin-right: 10px;
}
.header__dropdowns {
  margin-right: 20px;
}
.header-item2__line:last-child{
  margin-right:0px;
}
#dropdownMenuButton:first-child{
  background-color: rgb(198, 3, 4);
  color:white !important;
  margin-right:0px;
  width: 50px;
  &:hover{
    text-decoration: underline;
    background-color: rgb(198, 3, 4);
    padding: 0;
    margin:0;
  }
  
}
.header-item2{
  color:white;
}
.header__drop{
  display:flex;
 
}
.header-item3__link_hover {
  color:rgb(198, 3, 4) !important;
}
.header-item4__text_hover{
  color:rgb(198, 3, 4) !important;
}
.header-item5__text_hover{
  color:rgb(198, 3, 4) !important;
}
#dropdownMenuButton{
  border:0;
  outline: none;
}
#dropdownMenuButton:hover{
  border:0;
  outline: none;
}