.header
    .wrapper-header-item1
        .header-item1
            .header__languages
                a.header__language.header__language_active(href="") РУС
                a.header__language(href="") УКР
            .header-item1__links
                a.header-item1__link(href="") ЖУРНАЛ
                a.header-item1__link(href="") ВИДЕО
                a.header-item1__link(href="") ФОТО
                a.header-item1__link(href="") ЛОНГРИДЫ
                a.header-item1__link(href="") СПЕЦПРОЕКТЫ
    .wrapper-header-item2
        .header-item2
            .header-item2__line
            .header__drop
                .header__dropdowns
                    .dropdown
                        button#dropdownMenuButton.header__city(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | КИЕВ
                        .dropdown-menu(aria-labelledby='dropdownMenuButton')
                            a.dropdown-item(href='#') Житомир
                            a.dropdown-item(href='#') Львів
                            a.dropdown-item(href='#') Одеса
                    img.header__icon(src="images/weather.png" alt="")   
                    .header__weather +7° 
                .header-item2__line
                .header__dropdowns
          
                    .dropdown
                        button#dropdownMenuButton.header__city(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | USD
                        .dropdown-menu(aria-labelledby='dropdownMenuButton')
                            a.dropdown-item(href='#') USD = 24.8351
                            a.dropdown-item(href='#') EUR = 27.5205
                            a.dropdown-item(href='#') RUB = 0.3811
                    .header__text =
                    .header__value 24.835
            img.header-item2__logo(src="images/logo.png" alt="")
            .header-item2__line
            .header__nav
                a.header__menu-search ПОИСК 
                .header__icon-search
            .header-item2__line
            .header__nav
                a.header__menu-author АВТОРИЗАЦИЯ
                .header__icon-author
            .header-item2__line
    .wrapper-header-item3
        .header-item3
            a.header-item3__link ГЛАВНАЯ
            a.header-item3__link УКРАИНА
            a.header-item3__link ГОРОД
            a.header-item3__link.header-item3__link_hover МИР
            a.header-item3__link БИЗНЕС
            a.header-item3__link Я-КОРРЕСПОНДЕНТ
            a.header-item3__link СПОРТ
            a.header-item3__link LIFESTYLE
            a.header-item3__link ШОУ-БИЗ
            a.header-item3__link ВСЕ РАЗДЕЛЫ
    .wrapper-header-item4
        .header-item4
            a.header-item4__text Все новости раздела
            a.header-item4__text.header-item4__text_hover Россия
    .wrapper-header-item4
        .header-item5
            .header-item5__links1
                span.header-item5__text СПЕЦТЕМА:
                a.header-item5__text.header-item5__text_hover КОРОНАВИРУС
                .header-item5__icon
                a.header-item5__text2 КУРС ГРИВНЫ
                a.header-item5__text2 ВСЕ ТЕМЫ
            .header-item5__links2
                a.header-item5__text2 ВСЕ ТЕМЫ
    .line

