.footer {
  background-color: #565656;
  padding: 30px 0 40px;
  display: flex;
  padding: 3% 8%;
  color: #cacaca;
  justify-content: space-between;

  &-item {
    display: flex;
    flex-direction: column;
  }
  &-item1 {
    display: flex;
    flex-direction: column;
  }
  &-item2 {
    display: flex;
    flex-direction: column;
  }
  &-item3 {
    display: flex;
    flex-direction: column;
    &__row {
      display: flex;
    }
    &__links {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }
  }

  &__face {
    display: flex;
    &-icon {
      width: 20px;
      height: 20px;
      margin-right: 4px;
      filter: invert(1);
      background: url(../../images/icon-sprite.png) no-repeat -27px -315px;
    }
    &-link {
      color: #cacaca;
      font-size: 12px;
      margin-top: 5px;
    }
  }
  &__link {
    color: #cacaca;
    font-size: 12px;
    margin-top: 5px;
    width: 200px;
    &_bold {
      font-weight: bold;
      color: white;
    }
  }
  &__text {
    font-size: 11px;
    color: #cecece;
    padding-top: 30px;
  }
  &__dropdown {
    color: #808080 !important;
    margin-top: 10px;
  }
  &__twitter {
    display: flex;
    &-icon {
      width: 20px;
      height: 20px;
      margin-right: 4px;
      filter: invert(1);
      background: url(../../images/icon-sprite.png) no-repeat -95px -315px;
    }
    &-link {
      color: #cacaca;
      font-size: 12px;
      margin-top: 5px;
    }
  }
  &__google {
    display: flex;
    &-icon {
      width: 20px;
      height: 20px;
      margin-right: 4px;
      filter: invert(1);
      background: url(../../images/icon-sprite.png) no-repeat -134px -315px;
    }
    &-link {
      color: #cacaca;
      font-size: 12px;
      margin-top: 5px;
    }
  }
  &__rss {
    display: flex;
    &-icon {
      width: 20px;
      height: 20px;
      margin-right: 4px;
      filter: invert(1);
      background: url(../../images/icon-sprite.png) no-repeat -171px -318px;
    }
    &-link {
      color: #cacaca;
      font-size: 12px;
      margin-top: 5px;
    }
  }
  &__email {
    display: flex;
    &-icon {
      width: 20px;
      height: 20px;
      margin-right: 4px;
      filter: invert(1);
      background: url(../../images/icon-sprite.png) no-repeat -208px -316px;
    }
    &-link {
      color: #cacaca;
      font-size: 12px;
      margin-top: 5px;
    }
  }
}
.footer2 {
  background-color: #565656;
  padding: 30px 0 40px;
  display: flex;
  flex-direction: column;
  padding: 3% 8%;
}
.footer-item3__img {
  width: 86px;
  height: 116px;
  margin-top: 15px;
  margin-right: 15px;
}

.footer-item1 {
  margin-top: -15px;
}
#dropdownMenuButton:last-child {
  background-color: #565656 !important;
  outline: none;
  color: #808080 !important;
  font-size: 11px !important;
  border: 0;
  padding-left: 0;

  width: 100px !important;
  &:hover {
    background-color: white;
    outline: none;
    padding: 2px;
    border-radius: 0;
    border: 0;
  }
  &:focus {
    background-color: white;
    outline: none;
    border-radius: 0;
    border: 0;
  }
  &:active {
    background-color: white;
    outline: none;
    border-radius: 0;
    border: 0;
  }
}
.footer__dropdown {
  background-color: #565656 !important;
  white-space: nowrap;
  padding-left: 0;
}
