.footer
    .footer-item
        .footer__face
            .footer__face-icon
            a.footer__face-link Facebook
           
        .footer__twitter
            .footer__twitter-icon
            a.footer__twitter-link Twitter
     
        .footer__google
            .footer__google-icon
            a.footer__google-link Google+
            
        .footer__rss
            .footer__rss-icon
            a.footer__rss-link RSS-ленты
            
        .footer__email
            .footer__email-icon
            a.footer__email-link E-mail рассылка
    .footer-item1
        .dropdown
            button#dropdownMenuButton.footer__dropdown.footer__link(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Cайты UMHgroup
            .dropdown-menu(aria-labelledby='dropdownMenuButton')
                a.dropdown-item(href='#') i.ua
                a.dropdown-item(href='#') bigmir)net
                a.dropdown-item(href='#') КорреспондентТ
                a.dropdown-item(href='#') Аргументы и факты в Украине
                a.dropdown-item(href='#') КП в УКраине
                a.dropdown-item(href='#') Деньги.ua
                a.dropdown-item(href='#') Football.ua
                a.dropdown-item(href='#') iSport.ua
                a.dropdown-item(href='#') В Городе

       
           

        a.footer__link Контакты
        a.footer__link Реклама на сайте
        a.footer__link Использование материалов korrespondent.net
        a.footer__link Правила пользования сайтом
    .footer-item2
        a.footer__link Договор пользования сайтом
        a.footer__link Политика в сфере конфиденциальности и персональных данных
        a.footer__link Пользовательское соглашение


    .footer-item3
        a.footer__link.footer__link_bold Журнал Корреспондент
        .footer-item3__row
            img.footer-item3__img(src="images/article.jpg")
            .footer-item3__links
                a.footer__link.footer__link_bold №4(844)
                span.footer__link.footer__link_bold от 27 ФЕВРАЛЯ 2020
                a.footer__link Архив
                a.footer__link Проекты журнала
                a.footer__link Реклама в журнале
                a.footer__link Подпишись
.footer2
    
    .footer__text © 2000-2020, Korrespondent.net 
    .footer__text Использование любых материалов, размещённых на сайте, разрешается при условии ссылки на Корреспондент.net.
    .footer__text При копировании материалов со страницы «Новости Украины и мира», для интернет-изданий – обязательна прямая открытая для поисковых систем гиперссылка. Ссылка должна быть размещена в независимости от полного либо частичного использования материалов. Гиперссылка (для интернет- изданий) – должна быть размещена в подзаголовке или в первом абзаце материала.
    .footer__text Новости с пометками "Мнение", "Экспертиза", "Заявление", "Регионы", "Деньги", "Власть", "Выборы" публикуются на правах рекламы.
    .footer__text Любое копирование, публикация, републикация и другое распространение информации, которое содержит ссылку на "Интерфакс-Украина", EPA / UPG, строго воспрещается.
    .footer__text Владелец веб-страницы в разделе Я- Корреспондент является автор публикации.